<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Group chat app</title>

    <link rel='icon' href='http://localhost:3000/logo.png' type='image/x-icon' />
    <link href="./login.css" type="text/css" rel="stylesheet" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <div>
        <header>
            <h1>Welcome to group chat app</h1>
        </header>

        <img src="http://localhost:3000/logo.png" />
        <br>


        <button>
            <a href="/auth/google">Login with google</a>
        </button>

    </div>

</body>

</html>